extends layout.pug

block content
  div.navbar
    button.rhbutton Overview
    button.rhbutton Bracket
    button.rhbutton Pre-Game
    button.rhbutton In-Game
    button.rhbutton Post-Game
    button.rhbutton Intermission
    button.rhbutton Interview
    button.rhbutton Post-Tourney

  br

  div.navbar
    p1= "Wowzers"

block footer
